*{
    text-align: center;
    margin-left: 15px;
    font-family: 'Montserrat', sans-serif;
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
