<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Wep Scraping from Social Medias</title>
    <link rel="stylesheet" href="/static/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="coupon" style="background-color:white;max-width: 600px;margin: 0 auto;border-radius: 20px; width: 80%;
    border: 6px dotted rgb(121, 23, 212);">
        <div class="container">
            <div class="social-buttons">
                <h1 style="text-align:center;"> Social Medias</h1>

                <h2 style="text-align:center;"> Twitter & Reddit</h2>
                <br>
                <h3 style="text-align: center;"> Select Social Media:</h3>
                <br>
                <div style="text-align: center;">      
                    <a href = "/PostTweet"><i class="fa fa-twitter" aria-hidden="true" style="font-size: 50px" style="background-color:white"></i></a>
                    <a href = "/PostReddit"><i class="fa fa-reddit" aria-hidden="true" style="font-size: 50px" style="background-color:red"></i></a>
                </div>
                <br>
            </div>
        </div>
        <p>
            <footer id="footer" class="footer hidden-print" style="background-color:white">
                <div class="navbar navbar-default navbar-fixed-bottom">
                    <div class="container">
                        <p class="navbar-text pull-left">Karlheinz H. Cirne, Big Data Analytics Student</p>
                    </div>
                </div>
            </footer>
        </p>
    </body>
</html>
